<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tic Tac Toe</title>
  </head>
  <body>
    <div id="app">
      <h1>Please join or create a game</h1>
      <h2>Join</h2>
      <form @submit.prevent="join">
        <label>
          <span>Game ID</span>
          <input type="text" placeholder="######" v-model="gameID" />
        </label>
        <button type="submit">Join</button>
      </form>
      <h2>Create</h2>
      <button>Create</button>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
      const app = new Vue({
        el: '#app',
        data: {
          gameID: null,
        },
        methods: {
          create() {
            // TODO get a new ID
          },
          join() {
            if (!this.gameID) return;
            // TODO validate ID
            window.location.href += window.location.href.endsWith('/')
              ? this.gameID
              : `/${this.gameID}`;
          },
        },
      });
    </script>
  </body>
</html>
